<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anusha.app2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Skillset"
            android:label="@string/title_activity_skillset"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Achievements"
            android:label="@string/title_activity_achievements"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Why_Android"
            android:label="@string/title_activity_why__android"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Experience"
            android:label="@string/title_activity_experience"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DreamProj"
            android:label="@string/title_activity_dream_proj"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>